@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Inter', sans-serif;
	color: #ffffff;
    scroll-behavior: smooth;
	transition-duration: .3s;
	text-decoration: none;
}



body{
	overflow-x: hidden;
	width: 100vw;
	min-height: 100vh;
	background: linear-gradient(to bottom, #8c52ff, #ffbd59);
	padding: 7vw 5vw 5vw 5vw;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
}

button{
	background: transparent;
}

.header{
	width: 90vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 7vw;
}

.header > *{
	margin-bottom: 3vw;
}

.header .logo{
	min-height: 92px;
	height: 15vw;
	max-height: 140px;
}

.header h1{
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 1vw;
}
.header h2{
	font-size: 1rem;
	font-weight: 400;
}

.flexcontainer{
	display: flex;
	flex-direction: column;
}

.link{
	width: 90vw;
	min-height: 15vw;
	margin-top: 5vw;
	border: 3px solid #ffffff; 
	border-radius: 10px;
	padding: 3vw;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.link img{
	height: 10vw;
	filter: invert(100%);
}
.link p{
	font-size: .8rem;
	font-weight: 600;
	width: 100%;
	margin-left: -10vw;
	text-align: center;
}

.link:hover{
	background-color: #ffffff;
}
.link:hover p{
	color: #8c52ff;
}
.link:hover img{
	filter: invert(31%) sepia(58%) saturate(3079%) hue-rotate(243deg) brightness(106%) contrast(108%);
}


@media screen and (min-width: 725px){
	.flexcontainer{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0 2.5vw;
	}
	.link{
		min-height: 10vw;
		width: 40vw;
	}
	.link img{
		height: 5vw;
	}
	.link p{
		margin-left: -5vw;
	}
}

@media screen and (min-width: 960px){
	body{
		padding-top: 4vw;
	}
	.header{
		margin: -1vw 0;
	}
	.header h1{font-size: 1.5rem;}
	.header h2{font-size: 1.3rem;}
	.link p{font-size: 1.1rem;}

	.link{
		padding: 2vw;
	}

}